<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            <ion-icon name="ios-cloudy"></ion-icon> &nbsp;
            RainReporter
        </ion-title>
        <button ion-button menuToggle right>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content padding *ngIf="promptLocationAdd">
    <h1>
        Hi there! Welcome!
    </h1>

    It looks like you're new here. Before you can start reporting rainfall, please capture at least one location.
    Every time rainfall is reported, the location where the rainfall took place must be selected.
</ion-content>

<ion-footer>
    <ion-navbar color="secondary">
        <button icon-left ion-button clear block color="light" (click)="addLocation()">
            <ion-icon name="ios-map"></ion-icon>
            Add Location
        </button>
    </ion-navbar>
</ion-footer>

<ion-content padding-top *ngIf="!promptLocationAdd">
    <div class="calender">
        <ion-grid>
            <ion-row class="header" margin-bottom text-center>
                <ion-col col-2 (click)="goToLastMonth()">
                    <ion-icon name="md-arrow-round-back"></ion-icon>
                </ion-col>
                <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
                <ion-col col-2 (click)="goToNextMonth()">
                    <ion-icon name="md-arrow-round-forward"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row class="header" text-center>
                <ion-col>Su</ion-col>
                <ion-col>Mo</ion-col>
                <ion-col>Tu</ion-col>
                <ion-col>We</ion-col>
                <ion-col>Th</ion-col>
                <ion-col>Fr</ion-col>
                <ion-col>Sa</ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row class="days" text-center>
                <ion-col *ngFor="let day of daysInLastMonth" class="not-current-month">{{day}}</ion-col>

                <ion-col *ngFor="let day of daysInThisMonth">
                    <ion-badge mode="ios" color="secondary" *ngIf="currentDate === day">{{day}}</ion-badge>
                    <span *ngIf="currentDate !== day">{{day}}</span>
                </ion-col>

                <ion-col *ngFor="let day of daysInNextMonth" class="not-current-month">{{day}}</ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <ion-fab right bottom>
        <button ion-fab mini color="secondary">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
