<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            <ion-icon name="ios-cloudy"></ion-icon> &nbsp;
            RainReporter
        </ion-title>

        <button ion-button menuToggle right>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="promptLocationAdd === false">
        <ion-list no-margin no-padding>
            <ion-item>
                <ion-label>Location:</ion-label>
                <ion-select [(ngModel)]="locationId" submitText="Ok" cancelText="Cancel">
                    <ion-option *ngFor="let location of locations; let first = first;" [selected]="first" value="{{location.id}}">{{location.name}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>

        <div class="calender">
            <ion-grid>
                <ion-row class="header" margin-bottom text-center>
                    <ion-col col-2 (click)="goToLastMonth()">
                        <ion-icon name="md-arrow-round-back"></ion-icon>
                    </ion-col>
                    <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
                    <ion-col col-2 (click)="goToNextMonth()">
                        <ion-icon name="md-arrow-round-forward"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row class="header" text-center>
                    <ion-col *ngFor="let dayName of dayNames">{{dayName}}</ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid>
                <ion-row class="days" text-center>
                    <ion-col *ngFor="let day of daysInLastMonth" class="not-current-month">{{day}}</ion-col>

                    <ion-col *ngFor="let day of daysInThisMonth">
                        <ion-badge mode="ios" color="disabled" *ngIf="currentDate === day">{{day}}</ion-badge>
                        <span *ngIf="currentDate !== day">{{day}}</span>
                    </ion-col>

                    <ion-col *ngFor="let day of daysInNextMonth" class="not-current-month">{{day}}</ion-col>
                </ion-row>
            </ion-grid>

            <ion-fab right bottom>
                <button ion-fab mini color="primary" (click)="addRainfall()">
                    <ion-icon name="add"></ion-icon>
                </button>
            </ion-fab>
        </div>
    </ng-container>

    <ng-container *ngIf="promptLocationAdd === true">
        <p padding>
            Hi there! Welcome! <br/><br/>
            It looks like you're new here. Before you can start reporting rainfall, please capture at least one location.
            Every time rainfall is reported, the location where the rainfall took place must be selected.
        </p>
    </ng-container>
</ion-content>

<ion-footer *ngIf="promptLocationAdd === true">
    <ion-navbar color="secondary">
        <button icon-left ion-button clear block color="light" (click)="addLocation()">
            <ion-icon name="add"></ion-icon>
            Add Location
        </button>
    </ion-navbar>
</ion-footer>