@import "../../theme/variables";

page-home {
  h1 {
    font-size: 1.7rem;
    color: map-get($colors, primary);
    margin-top: 0;
  }

  .calender {
    .header {
      font-weight: bold;
      color: map-get($colors, primary);
      height: 30px;
    }

    .days {
      height: calc(100vh - 185px); //185px has already been taken (header + top content)

      .not-current-month {
        color: map-get($colors, disabled);
      }

      .current-day {
        font-weight: bold;
      }

      ion-col {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 14.285714285714286%;
        width: 14.285714285714286%;
        max-width: 14.285714285714286%;
      }
    }
  }
}

